<form #formPassword="ngForm" novalidate>
  <div class="grid mt-3">
    <div class="col-12 md:col-6">
      <div class="field">
        <span class="p-float-label">
          <input
            id="ContrasenaNueva"
            name="ContrasenaNueva"
            required
            ngModel
            #ContrasenaNueva="ngModel"
            class="w-100"
            type="password"
            pPassword
          />
          <label for="float-input">Contraseña</label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="field">
        <span class="p-float-label">
          <input
            id="ContrasenaNuevaConfirmacion"
            name="ContrasenaNuevaConfirmacion"
            ngModel
            required
            #ContrasenaNuevaConfirmacion="ngModel"
            class="w-100"
            type="password"
            pPassword
          />
          <label for="float-input">Confirmar contraseña</label>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 container-btn">
    <button
      pButton
      pRipple
      label="Modificar"
      class="p-button-rounded p-button-success btn"
      (click)="changePassword(formPassword)"
      [disabled]="formPassword.invalid"
    ></button>
  </div>
</form>
